

body {
  margin: 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: white;
}


body * {
  box-sizing: border-box;
}

.header-container-header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;

}

.header {
  background: #000;
}

.logo-brown-text {
  color: #e3b873;

}

.navigation {
  list-style: none;
  display: flex;
}

.header-navigation__item {
  padding-right: 47px;
}

.header-navigation__item .brown-text {
  color: #e3b873
}

.header-navigation__item a {
  text-decoration: none;
  color: #fff;
}

.body {
  display: border-box;
}

.header-container {
  max-width: 1256px;
  height: 83px;
  margin: 0 auto;
}

.number {
  text-decoration: none;
  color: #e3b873;
  text-decoration-line: underline;
}

.a {
  cursor: pointer;
}

.button-header-navigation-button {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: #ffffff;
}

.brown-text {
  color: #e3b873;
}

.main {
  display: block;
}

.main-container {
  max-width: 1171px;
  margin: 0 auto;
}

.title1 {
  margin: 0;
  font-family: Yeseva One, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
}


.hero {
  background: url(./images/picture3.png);
  position: relative;
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-bottom: 208px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.main-container {
  max-width: 1171px;
  margin: 0 auto;
}

.hero-container {
  position: relative;
}

div {
  display: block;
}

.title {
  margin: 0;
  font-family: Yeseva One, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
}

.brown-text {
  color: #e3b873;

}

.navigation-projects-navigation {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  width: 95%;
  margin: 30px 20px;
  padding-left: 460px;
  gap: 60px;
}

.line-decorate-line-decorate-1_brown-hypertext {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E3B873;
}

.line-decorate-line-decorate-2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.line-decorate-line-decorate-3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.description-item {
  width: 50%;
  padding-bottom: 55px;
}

.description-item-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 9px;
  color: #e3b873;
}

.hero-container p {
  font-size: 22px;
  line-height: 36px;
}

.hero-container button {
  width: 207px;
  margin-right: 20px;
  padding: 20px 41px;
}

.button {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
  border-radius: 2px;
  outline: 0;
  border: 0;

  color: #ffffff;
}

.hero-container button {
  width: 207px;
  margin-right: 20px;
}

.button-grey {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 19px 25px !important;
}

.projects-container {
  padding-top: 100px;
  padding-bottom: 400px;
}

.projects-title {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  margin-bottom: 34px;
  color: #e3b873;
}

.projects-content-text {
  display: flex;
  flex-direction: column;
}

.description-projects-description {
  display: flex;
  flex-wrap: wrap;

}

.projects {
  background: #000;
}

.projects-subtitle {
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 42px;
}

.online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-container {
  justify-content: center;
  background: none;
  margin-top: -330px;
  margin-bottom: 31px;
}

.online {
  padding-bottom: 147px;
}

.types-container {
  min-width: 1236px;
}

.clients-city {
  display: flex;
  max-width: 1256px;
  margin: 0 auto;
  position: relative;
}

.clients-city::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.questions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.slider {
  width: 600px;
  background: url(./images/picture4.png);
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 50%;
}


.camera-img1 {
  margin: 0 9px;
  margin-bottom: 25px;
  padding-left: 475px;
}

.dude {
  background: url(./images/picture6.png);
  position: relative;
  height: 434px;
  width: 817px;
  margin: 31px auto 0;
}

.dude::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.dude-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustrate-line {
  width: 55px;
  margin: 62px auto 34px;
}

.camera-line {
  background-color: #e3b873;
}

.dude-container-item {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #e3b873;
  box-shadow: 0px 5px 30px rgb(227 184 115 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-subtitle {
  font-size: 18px;
  line-height: 37px;
  color: #363636;
  text-align: center;
  margin-bottom: 91px;
}

.online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-and-button {
  display: flex;
  margin-bottom: 33px;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.types-title {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
  text-align: center;
  margin-bottom: 13px;
}

.types-img {
  margin-bottom: -125px;
}

.types-blocks {
  display: flex;
  justify-content: space-between;
}

.advantages {
  height: 540px;
  background: url(../images/feedback.svg);
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-advantages-form {
  width: 506px;
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #131313;
  box-shadow: 0px 30px 30px rgb(0 0 0 / 5%);
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 38px;
}

.feedback {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  height: 707px;
  margin-bottom: 254px;
}

.sale {
  display: flex;
  align-items: center;
}

.advantages-form-holder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.advantages-form-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 89px;
}

.advantages-form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.advantages-form-item {
  width: 100%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.custom-checkbox+label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 1px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.custom-checkbox:checked+label::before {
  border-color: #e3b873;
  background-color: #e3b873;
  background-image: url(./images/V.svg);
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-2 {
  font-size: 14px;
  line-height: 163.68%;
  color: white;
}

.advantages-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.advantages-form-button {
  width: 213px;
  height: 51px;
  align-self: flex-end;
}

.button {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: #ffffff;
}

.advantages-form-holder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sale {
  display: flex;
  align-items: center;
}

.clients-title {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 150px;
}

.clients-img {
  margin-bottom: 34px;
}

.clients-description {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin-bottom: 39px;
}

.client-ava {
  border-radius: 50%;
  margin-right: 25px;
}

.client-present {
  display: flex;
  align-items: center;
}

.clients-with-photo-description {
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin-bottom: 90px;
}

.m2-days {
  width: 294px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgb(227 184 115 / 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -27px;
  padding: 0 17px;
}

.online-button {
  width: 200px;
  height: 51px;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-checkbox-checkbox-1 {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-1 {
  font-size: 14px;
  line-height: 23px;
  border-radius: 1px;
  color: #181818;
}

.online-form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 3px;
}

.online-form-item {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  margin-right: 58px;
  outline: none;
}

.camera-line-holder {
  width: auto;
}

.camera2-img {
  margin: 0 9px;
  margin-bottom: 5px;
  padding-left: 550px;

}

.camera-line-holder {
  width: auto;
}

.types-block-description {
  background-color: #fff;
  width: 330px;
  height: 286px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
}

.types-price {
  background: #e3b873;
  box-shadow: 5px 5px 10px rgb(227 184 115 / 30%);
  width: 228px;
  height: 54px;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.types-block {
  display: flex;
  flex-direction: column;
  width: 392px;
  font-family: Yeseva One;
  padding-bottom: 124px;
}

.types-blocks {
  display: flex;
  justify-content: space-between;
}

.types-img {
  margin-bottom: -125px;
}

.types-list {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  margin-bottom: 23px;
}

.advantages {
  height: 540px;
  background: url(./images/feedback.svg);
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.circle {
  background: #e3b873;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
  border-radius: 50%;
  font-size: 18px;
  line-height: 25px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}

.advantages-item {
  display: flex;
  align-items: center;
  margin-bottom: 95px;
  margin-left: 30%;
}

.advantages-item-subtitle {
  font-size: 14px;
  line-height: 19px;
  color: rgba(54, 54, 54, 1);
}

.pig {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #e3b873;
  box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.pig-dollar {
  position: relative;
  right: 25px;
}

.sale-description {
  width: 344px;
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgb(227 184 115 / 15%);
}

.section-five {
  background: #131313;
  width: 1440px;
  height: 864px;
}

.section-five .interior_box {
  display: flex;
}

.section-five .interior_box>.interior_box_item_1,
.section-five .interior_box>.interior_box_item_2,
.section-five .interior_box>.interior_box_item_3 {
  width: 33%;
  position: relative;
}

.section-five .interior_box>.interior_box_item_1>b {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #E3B873;
  font-family: NunitoSans;
  padding-left: 70px;
}

.section-five .interior_box>.interior_box_item_1>h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  font-family: Yeseva One;
  padding-left: 70px;
}

.section-five .interior_box>.interior_box_item_1>ul {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  font-family: NunitoSans;
  list-style: none;
  padding-left: 65px;
}

.section-five .interior_box>.interior_box_item_1,
.section-five .interior_box>.interior_box_item_2,
.section-five .interior_box>.interior_box_item_3 {
  width: 33%;
  position: relative;
}


.section-five .interior_box>.interior_box_item_3 img:nth-child(1) {
  top: -112px;
  position: absolute;
}

.section-five .interior_box>.interior_box_item_3 img:nth-child(2) {
  top: 200px;
  position: absolute;
}

.section-five .interior_box>.interior_box_item_2 img:nth-child(1) {
  top: -40px;
  position: absolute;
}

.section-five .interior_box>.interior_box_item_2 img:nth-child(2) {
  top: 555px;
  position: absolute;
}

.clients-img {
  margin-bottom: 34px;
}

.clients-description {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin-bottom: 39px;
}

.client-present {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.client {
  width: 376px;
  height: 428px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 4%);
}

.client-ava {
  border-radius: 50%;
  margin-right: 25px;
}

.client-present-title {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.clients-with-photo {
  display: flex;
  justify-content: space-between;
}

.clients-with-photo-description {
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin-bottom: 90px;
}

.camera3-img {
  margin: 0 9px;
  margin-bottom: 5px;
  padding-left: 46.5%;

}

.clients-city {
  display: flex;
  max-width: 1256px;
  margin: 0 auto;
  position: relative;

}

.clients-city::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.client-holder {
  margin: 20px 0 0 20px;
}


.city-img {
  width: 50%;

}

.city-img {
  width: 50%;

}

.advantages-form {
  width: 883px;
  height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #131313;
  box-shadow: 0px 30px 30px rgb(0 0 0 / 5%);
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 38px;
}

.questions {
  background: url(./images/darckcity.svg);
  position: relative;
  background-size: cover;
  padding-bottom: 30px;
}

.questions-container {
  position: relative;

}

.questions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.questions-form {
  width: 883px;
  height: 100%;
  justify-content: start;
  margin-bottom: 0;
  margin-top: -222px;
}

.questions-form-item-1 {
  display: flex;
  justify-content: space-between;
}

.questions-form-title {
  font-size: 20px;
  line-height: 28px;
  margin-top: 34px;
}

.questions-form-item-1 {
  display: flex;
  justify-content: space-between;
}

.questions-inputs {
  width: 516px;
}

.advantages-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.questions-input-3 {
  width: 100%;
  margin-bottom: 46.5px;
}

.questions-button {
  align-self: center;
  margin-bottom: 34.4px;
}

.questions-form-holder {
  width: 883px;
  align-items: center;
  margin: 0 auto;
}

.questions-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 62px;
  color: #e3b873;
}

.questions-container {
  position: relative;
}

.online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-form {
  width: 883px;
  height: 100%;
  justify-content: start;
  margin-bottom: 0;
  margin-top: -222px;
}

.questions-checkbox {
  margin-top: 0;
  align-self: center;
}

.social-media-signs {
  width: 71px;
  display: flex;
  justify-content: space-between;
  margin: 26px auto 0;
}

.social-media-signs-item {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #e3b873;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions-map {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.questions-map-item {
  width: 925px;
  height: 464px
}

.online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-city::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 10%;
  background: rgba(255, 255, 255, 0.9);
}